* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monospaced, Geneva, Tahoma, sans-serif;

}
body {
    background-color: ghostwhite;
}
:root {
    /*--navbar: ;*/
}
/* ----- Navbar ----- */
nav {
    display: flex;
    justify-content: space-between;
    height: 5vh;
}
/* ----- Main ----- */
main {
    display: flex;
    justify-content: space-between;
    height: 95vh;
}
/* ----- Aside ----- */
aside {
    flex: 1;
    background-color: #9e92a8;
}
#usPhoto {
    height: 200px;
    width: 200px;
}
/* ----- taskSection ----- */
#taskSection {
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
    background-color: #8daea9;
}
#taskSection hr {
    width: 75%;
}

#addTask {
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    padding: 2px;
}
#taskTitle {
    border-radius: 10px 10px 0 0;
}
#taskDesc {
    border-radius: 0 0 10px 10px;
}
.taskLists {
    border: 1px solid black;
    border-radius: 10px;
    height: 80vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.taskUlList {
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: auto;
    max-height: 90%;
}
